<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gioov.spiny.common.logback.mapper.LoggingEventPropertyMapper">
    <resultMap id="BaseResultMap" type="com.gioov.spiny.common.logback.entity.LoggingEventPropertyEntity">
        <id column="event_id" property="eventId" jdbcType="BIGINT"/> <!-- id -->
        <result column="mapped_key" property="mappedKey" jdbcType="VARCHAR"/>
        <result column="mapped_value" property="mappedValue" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="TableName">
        `logging_event_property`
    </sql>

    <sql id="BaseColumnList">
        `event_id`, `mapped_key`, `mapped_value`
    </sql>

    <delete id="deleteAll">
        DELETE FROM
        <include refid="TableName"/>
        WHERE `id` IN
        (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="getOne" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        WHERE `id` = #{id} LIMIT 1
    </select>

    <select id="pageAll" resultMap="BaseResultMap" parameterType="com.gioov.common.mybatis.Pageable">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        ${pageable}
    </select>
    <select id="countAll" resultType="int">
        SELECT COUNT(1) FROM
        <include refid="TableName"/>
    </select>

</mapper>
